* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility class */
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-yellow{
    background-color: yellow;
}

.bg-green{
    background-color: green;
}

.bg-grey{
    background-color: grey;
}
/* END Utility */

/* Typo */
h2{
    width: 100%;
    text-align: center;
}

p{
    padding: 10px;
}
/* END Typo*/

body{
    width: 100vw;
    height: 100vh;
}

#app{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}

.grid-element{
    width: calc(100% / 6);
    border: 2px solid black;
    cursor: pointer;
}

.grid-element strong{
    padding: 25% 0;
    font-size: 30px;
    cursor: pointer;
}